[Desktop Entry]
Type=Application
Version=1.0
Name=Authenticator
Comment=TOTP Authenticator
Path=/usr/local/bin
Icon=/usr/share/icons/hicolor/128x128/apps/ca.schroer.authenticator.png
Exec=authenticator_ui.sh
Terminal=false
Categories=Utility;
